* {
    box-sizing: border-box;
}

#contenedor {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body {
    background-color: black;
    text-align: center;
    margin: auto;
    background-image: url(../img/fondo3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: inline-block;
    color: #bb0000;
}

h1 {
    font-size: clamp(4rem, 8vw, 9rem);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

h1 span {
    font-size: 2rem;
}

nav {
    display: inline-block;
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-family: Helvetica Mono, monospace;
    font-weight: bold;
    font-style: normal;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 5px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #bb0000;
}

a:active {
    background-color: #bb0000;
    color: #bb0000;
}

iframe {
    margin-top: 50px;
    border: 4px solid #bb0000;
    transform: scale(1.4);
}


