* {
    box-sizing: border-box;
}

#contenedor {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body {
    background-image: url(../img/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}

header {
	margin: auto;
	color: #bb0000;
	font-size: clamp(3rem, 4vw, 5rem);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

nav {
	font-size: clamp(1.2rem, 2vw, 2rem);
    font-family: Helvetica Mono, monospace;
    font-weight: bold;
    font-style: normal;
}

ul {
    list-style: none;
    margin: auto;
}

li {
    padding: 5px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #bb0000;
}

a:active {
    background-color: #bb0000;
    color: #bb0000;
}