* {
    box-sizing: border-box;
}

#contenedor {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

body {
    background-color: black;
    text-align: center;
    background-image: url(../img/fondo1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: inline-block;
    color: #bb0000;
}

h1 {
    font-size: clamp(5rem, 10vw, 12rem);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}

h1 span {
    font-size: clamp(1rem, 2vw, 2rem)
}

ul {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    list-style: none;
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #bb0000;
}

a:active {
    background-color: #bb0000;
    color: #bb0000;
}


nav {
    font-family: Helvetica Mono, monospace;
    font-weight: bold;
    font-style: normal;
}

footer {
    color: #bb0000;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-top: 6rem;
}






